version: "3.7"
services:
  app:
    build: ./api
    ports:
      - "5000:5000"
    env_file: .env  # Chỉ định tệp .env mà Docker sẽ sử dụng
    environment:
      - PORT=5000
      - MONGO_URL=mongodb://mongo:27017/mydb  # Cập nhật URI nếu backend dùng Mongo
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  frontend:
    build: ./solution
    ports:
      - "8080:80"
    container_name: frontend
    restart: unless-stopped

volumes:
  mongo-data: